@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700i');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Press+Start+2P');
body{
    font-family: 'Pacifico', cursive;
    background-image: url(1.jpg);
    text-align: center;
}
container{
    padding-left: 16px;
    padding-right: 16px;
}
h1{
        font-size: 44px;
        color: black;
        font-family: 'Merriweather', serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
}

li {
    float: right;
    font-family: 'Merriweather', serif;
}

li a {
  display: block;
  font-size: 20px;
  color: antiquewhite;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgoldenrodyellow;
    color: black;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(165,145,130, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 19%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

p {
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
    color: white;
}


/* Draw */

h4{
    font-family: 'Merriweather', serif;
    font-size: 35px;
    margin: 1em 0 0.25em;
    color: black;
}

h4:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 80px;
}

input[type=number] {
    width: 6em;
}

.grid_Toggle {
    border:hidden ;
}


/*convert part*/

.label {
  float: left;
  width: 290px;
  margin-top: -6px;
  text-align: right;
}
h3 {
    font-family: 'Arimo', sans-serif;    
  margin: 0;
  font-size: 60px;
  line-height: 1;
  color: black;
}
h5 {
    font-family: 'Arimo', sans-serif;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: black;
}
.content {
  width: 620px;
  min-height: 130px;
  margin-left: 320px;
  padding: 0 0 40px 30px;
  text-align: left;
}

.drop .content {
  min-height: 90px;
  padding-bottom: 0;
    padding-top: 128px;
}
.drop-zone {
  position: center;
  padding: 64px 64px;
    vertical-align: middle;
  background-color: lavenderblush;
}
.drop-over {
  background-color: grey;
}
.drop-placeholder {
    margin-bottom: 50px;
    position: center;
  padding: 64px 64px;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.drop-image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
.drop-help {
  margin-left: 140px;
  text-align: center;
  white-space: nowrap;
}
.scale {
  display: none;
}
.scale-slider {
  width: 100%;
  margin: 0;
}
.scale-labels {
  font-size: 20px;
}
.scale-min {
  float: left;
}
.scale-max {
  float: right;
}

.preview {
  display: none;
}
.preview-box {
  max-width: 100%;
  max-height: 480px;
  overflow: auto;
  font-size: 0;
}

.css {
  display: none;
}
.css .content {
  min-height: 90px;
  padding-bottom: 0;
}
.css-output {
  width: 100%;
  height: 200px;
  border: solid 1px #ddd;
}

.error {
  color: #9e7575;
}
.loaded .drop .content {
  min-height: 130px;
  padding-bottom: 40px;
}
.loaded .scale,
.loaded .preview,
.loaded .css {
  display: block;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}